$solid-colors: (
  "blue": #3b82f6,
  "midnight-blue": #0C0C3C,
  "indigo": #6366f1,
  "dark-purple": #322740,
  "purple": #8b5cf6,
  "pink": #ec4899,
  "red": #ef4444,
  "orange": #f97316,
  "yellow": #f59e0b,
  "green": #10b981,
  "teal": #14b8a6,
  "cyan": #06b6d4,
  "white": #fff,
  "gray": #2A2F34,
  "gray-dark": #18191d,
);

//Dark Turquoise Theme
$dark-turquoise-colors: (
  "raisin-black": #18191d,
  "charleston-green": #202428,
  "gunmetal": #2A2F34,
  "charcoal": #3d444b,
  "sonic-silver": #6E7278,
  "spanish-gray": #929699,
  "silver-sand": #BBBEBF,
  "light-gray": #CCCECF,
  "gainsboro": #DCDDDE,
  "persian-green": #009687,
  "keppel": #30C6AD,
  "turquoise": #4be1c3,
  "middle-blue-green": #93f0e1,
  "light-cyan": #dbffff,
  "azure": #EAFFFF,
);

// Gradient colors
$gradient-colors: (
  gradient-turquoise-2-persian-green: (
    "start-color": #4be1c3,
    "end-color": #009687,
  ),
  gradient-light-cyan-gunmetal: (
    'start-color' : #dbffff,
      'end-color' : #282e33
  ),
);
